#find-music {
    .find-title {
        padding: 20px 0 0 20px;
        margin:0;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .song-list {
        width: 100%;
        padding: 20px;
        display: flex;
        flex:1;
        flex-wrap: wrap;
        .recommed-item{
            display: inline-block;
            width: 16%;
            padding: 15px;
            img {
                width: 100%;
                cursor:pointer;
                border-radius: 4px;
            }
            .recommed-title {
                margin-top: 10px;
                cursor:pointer;
            }
        }
    }
    .swiper {
        .banner-item {
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
    }
}