#music-login{
    .wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .title{
        display:inline-block;
        width:60px;
    }
    .input{
        display:inline-block;
        width:50%;
    }
    .submit{
        text-align: center;
        margin-top: 30px;
    }
}