#music-login{
    .wrapper{
        // margin-top: 20px;
        // margin-bottom: 20px;
        width:60%;
        text-align: center;
        margin: 0 auto;
        img {
            width: 100px;
            height:75px;
        }
    }
    .title{
        display:inline-block;
        width:60px;
    }
    .input{
        display:inline-block;
        width:50%;
    }
    .submit{
        text-align: center;
        margin: 30px auto 0 auto;
        width:60%;
    }
}