#navigator {
  height: 60px;
  .menu{
    line-height: 60px;
    display:inline-block;
    vertical-align: top;
    width:70%;
    font-size:15px;
  }
  .title{
    color:#ffffff;
    font-size:25px;
    padding-right:30px;
  }
}